UserInterfaceState.xcuserstate
/Tests/Vinter2D (OS X)/Vinter2D (OS X).xcodeproj/project.xcworkspace/xcuserdata/
/Tests/Vinter2D (OS X)/Vinter2D (OS X).xcodeproj/xcuserdata/Sidney.xcuserdatad/xcdebugger/
/Tests/Vinter2D (OS X)/Vinter2D (OS X).xcodeproj/xcuserdata/
/Vinter2D.xcworkspace/xcuserdata/
/Tests/Vinter2D (iOS)/Vinter2D (iOS).xcodeproj/xcuserdata/