/Vinter2D.xcworkspace/xcuserdata
/Build/Vinter2D (iOS)/Vinter2D (iOS).xcodeproj/xcuserdata
/Build/Vinter2D (iOS)/Vinter2D (iOS).xcodeproj/project.xcworkspace/xcuserdata
/Build/Vinter2D (OS X)/Vinter2D (OS X).xcodeproj/xcuserdata
/Build/Vinter2D (OS X)/Vinter2D (OS X).xcodeproj/project.xcworkspace/xcuserdata
/Reference/html
Examples/TMXMaps/TMXMaps.xcodeproj/xcuserdata
Examples/TMXMaps/TMXMaps.xcodeproj/project.xcworkspace/xcuserdata